<style>
	li{
		margin: 20px 0 20px 0;
	}
</style>
<ul style='list-style-type:square;'>
	<li>Please have appointment booking to the medical clinic or laboratory center.</li>
	<li>Please inform medical clinic / laboratory center of all required items that stated on the medical slip to ensure all items can be performed in the same clinic/ center.</li>
	<li>If only required to perform laboratory test(s) without medical examination , you may make appointment with laboratory center directly.</li>
	<li>#The opening hours on the list is for reference only. Please call up the respective medical clinic or laboratory to have further confirmation.</li>
</ul>