<style>
	li{
		margin: 20px 0 20px 0;
	}
</style>
<ul style='list-style-type:square;'>
	<li>所有医务所及化验中心, 敬请预约</li>
	<li>请於预约前与医务所/化验中心确实能提供验身纸上之检验</li>
	<li>如验身纸上只要求一般化验而无须验体, 可直接与化验中心预约, 以加快检验进度</li>
	<li>#办公时间只供参考,  敬请直接与医务所/化验中心确定个别医生当值时段</li>
</ul>