<style>
	li{
		margin: 20px 0 20px 0;
	}
</style>
<ul style='list-style-type:square;'>
	<li>所有醫務所及化驗中心，敬請預約</li>
	<li>請於預約前與醫務所/化驗中心確實能提供驗身紙上之檢驗</li>
	<li>如驗身紙上只要求一般化驗而無須驗體，可直接與化驗中心預約，以加快檢驗進度</li>
	<li>#辦公時間只供參考，敬請直接與醫務所/化驗中心確定個別醫生當值時段</li>
</ul>